p{
    color: rgb(255, 92, 71);
    background-color: antiquewhite;
}

#paragrafo1-teclado{
    color: aqua;
    background-color: black;    
}
#paragrafo2-teclado{
    color: white;
    background-color: darkkhaki;
}
#historia{
    background-color: blanchedalmond;
}
.paragrafo1-teclado{
    color: brown;
}
.paragrafo-historia{
    color: deeppink;
    
}
.historia{
    background: linear-gradient(to left,  red, blue 25%, green);
}

.fundo-div{
    width: 800px;
    height: 700px;
    background-image: url('./img/imagemfundo.jpg');
    background-size:cover;
}

.fundo-paragrafo{
    background-image: url('./img/fundoabstrato.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

ul{
    list-style:circle;
    border: 1px red;
    border-style: dotted;
    list-style-position: inside;
    padding: 0
    ;
}

ol{
   border: 2px solid blue;
}

li{
    border: 2px solid pink;
}