body{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
}

.titulo-principal{
    text-transform: capitalize;
    text-decoration:overline underline orangered;
    text-align: center;
    text-shadow:1px 1px 1px #fff, 2px 2px 0 #ccc, 3px 3px 0 #aaa;
}

.paragrafo1{
    letter-spacing: 3px;
    line-height: 30px;
}

.paragrafo2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: "Engagement", serif;
    text-align: justify;
    font-size: 40px;
}

.titulo2{
    color: rgb(253, 25, 25);
    text-shadow: 2px 1px 3px black;
}

.titulo3{
    color:black;
    text-shadow: 2px 2px 5px red;
}

.paragrafo3{
    font-weight: bold;
    font-variant: small-caps;
}