body {
  font-family: "lato";
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  margin-left: 200px;
  padding: 0px;
}

.top-titulo {
  background-color: #ff6b28;
  text-align: center;
  padding: 12px;
}

.logo {
  max-width: 200px;
}

.hero-top {
  background-image: url("/images/hero_bolo.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.img-bolo {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

h1 {
  color: #ff6b28;
  margin-top: 100px;
  margin-bottom: 50px;
}

.btn-comprar {
  color: white;
  background-color: #ff6b28;
  padding: 10px;
  border-radius: 16px;
  border-color: #ff6b28;
  margin-left: 30px;
}

h3 {
  color: #ff6b28;
}

.footer {
  height: 50px;
  background-color: #ff6b28;
  font-size: small;
  color: white;
  text-align: center;
}

.rodape-texto{
    max-width: 500px;
    margin: auto;
}

.ingredientes {
  margin-left: 150px;
  margin-bottom: 100px;
  line-height: 35px;
  border-color: transparent;
  height: 500px;
  width: 550px;
  cursor: url('/images/cursor_ingredientes.png'), default;
  
}

.ingredientes:hover{
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
    padding: 10px;
    
}


.preparo {
  margin-left: 150px;
  margin-bottom: 100px;
  width: 550px;
  cursor: url('/images/cursor_preparo.png'), default;
  
}

.preparo:hover{
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
    padding: 40px;
}

.instrucoes {
  margin-left: 150px;
  margin-bottom: 100px;
  width: 550px;
  cursor: url('/images/cursor_intrucoes.png'), default;
}

.instrucoes:hover{
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
    padding: 50px;
}

a{
    text-decoration: none;
    color: white;
}